<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/js/jquery-3.4.0.min.js"></script>
    <script defer src="/js/new-input-module.js"></script>
    <script defer src="/js/delete-module.js"></script>
    <title>Document</title>
</head>
<body>
    {{{body}}}
</body>
</html>