.hidden-item-input {
    visibility: hidden;
}

.hidden-list-input {
    visibility: hidden;
}

.dropdown {

}

.dropdown-content {
    display: none;
}

.dropdown-content li{
    display: inline;
}

.dropdown:hover .dropdown-content {
    display: block;
}