<h1>{{account._id}}</h1>


<form method="POST" action="/recipies/{{account._id}}/new-recipe-form">
    <label for="name">recipe name</label>
    <input type="text" name="name" value="" />
    <br>
    <br>
    <label for="ingredients">ingredient</label>
    <input type="text" name="ingredients" value="" />
    <br>
    <br>
    <input class="addIngredient" type="button" value="+ ingredient" />
    <br>
    <br>
    <label for="instructions">instructions</label>
    <input type="text" name="instructions" value="" />
    <br>
    <br>
    <input type="submit" value="add recipe" />
</form>

