<h1>Account Page</h1>

{{account._id}}

<form method="POST" action="/accounts/{{account._id}}?_method=DELETE">
    <input type="submit" value="delete this account" />
</form>

<a href="/accounts/{{account._id}}/edit">
    <input type="button" value="edit this account" />
</a>