<h1>Edit Account Page</h1>

<form method="POST" action="/accounts?_method=PUT">
    <label for="_id" >hide me later</label>
    <input type="text" name="_id" value="{{account._id}}" />
    <br>
    <br>
    <label for="firstName" >First Name</label>
    <input type="text" name="firstName" value="{{account.firstName}}" />
    <br>
    <br>
    <label for="lastName" >Last Name</label>
    <input type="text" name="lastName" value="{{account.lastName}}" />
    <br>
    <br>
    <input type="submit" value="Save" />
</form>