<h1>Edit Account Page</h1>

<form method="POST" action="/accounts/{{account._id}}?_method=PUT">
    <label for="firstName" >First Name</label>
    <input type="text" name="firstName" value="{{account.firstName}}" class="form-text-input" />
    <label for="lastName" >Last Name</label>
    <input type="text" name="lastName" value="{{account.lastName}}" class="form-text-input" />
    <br>
    <input type="submit" value="Save" class="inverse-header-button"/>
</form>