<h1>New Account Form</h1>

<form method="POST" action="/accounts">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" />
    <br>
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" />
    <br>
    <br>
    <input type="submit" />
</form>