<h1>New Account Form</h1>

<form method="POST" action="/accounts">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" class="form-text-input"/>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" class="form-text-input"/>
    <br>
    <input type="submit" class="inverse-header-button" />
</form>