<h1>{{account._id}}</h1>

<form method="POST" action="/grocery/{{account._id}}/new-grocery-form">
    <div class="new-recipe-form-module" >
        <label for="name">grocery list name</label>
        <input type="text" name="name" value="" />
    </div>
    <div class="new-grocery-form-module" id="input-module-0">
        <label for="list" id="set-name">items</label>
        <input type="text" name="list" value="" id="item-0"/>
    </div>
    <div class="new-grocery-form-module" id="addInput" >
        <input type="button" value="+ item" />
    </div>
    <div class="new-grocery-form-module" >
        <input type="submit" value="add grocery list" />
    </div>
</form>